{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "plugins": ["./node_modules/@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",

    "core",

    "^env$",

    "^@solvebox(.*)",

    "^trpc(.*)",
    "^@trpc$",

    "^shared$",

    "^assets(.*)",

    "^components(.*)",
    "(.*)/components$",

    "^./modules$",

    "^hooks$",
    "(.*)hooks$",

    "^services$",
    "(.*)services$",

    "^helpers$",
    "(.*)helpers$",

    "^utils$",
    "(.*)utils$",

    "^types(.*)",
    "(.*)types$",

    "^[./]"
  ]
}
